prolog/race/wsdl/race.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions
	targetNamespace="http://attempto.ifi.uzh.ch/race"
  xmlns:race="http://attempto.ifi.uzh.ch/race"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

    <wsdl:types>
       <xsd:schema
           elementFormDefault="qualified" targetNamespace="http://attempto.ifi.uzh.ch/race">
           
           <xsd:element name="Request">
               <xsd:complexType>
                   <xsd:sequence>
                       <xsd:element name="Axioms" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                       <xsd:element name="Theorems" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                       <xsd:element name="Mode" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                       <xsd:element name="Parameter" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                   </xsd:sequence>
               </xsd:complexType>
           </xsd:element>
           
           <xsd:element name="Reply">
              <xsd:complexType>
                  <xsd:sequence>
                      <xsd:element name="Message" minOccurs="0" maxOccurs="unbounded">
                          <xsd:complexType>
                              <xsd:sequence>
                                  <xsd:element name="Importance" type="xsd:string" minOccurs="1" maxOccurs="1" />
                                  <xsd:element name="Type" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                                  <xsd:element name="SentenceID" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                                  <xsd:element name="Subject" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                                  <xsd:element name="Description" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                              </xsd:sequence>
                          </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="Runtime" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
                      <xsd:element name="Proof" minOccurs="0" maxOccurs="unbounded">
                         <xsd:complexType>
                            <xsd:sequence>
                               <xsd:element name="UsedAxioms" minOccurs="1" maxOccurs="1">
                                  <xsd:complexType>
                                     <xsd:sequence>
                                        <element name="Axiom" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
                                     </xsd:sequence>
                                  </xsd:complexType>
                               </xsd:element>
                               <xsd:element name="UsedAuxAxioms" minOccurs="1" maxOccurs="1">
                                  <xsd:complexType>
                                     <xsd:sequence>
                                        <xsd:element name="AuxAxiom" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
                                     </xsd:sequence>
                                  </xsd:complexType>
                               </xsd:element>
                            </xsd:sequence>
                         </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="WhyNot" minOccurs="0" maxOccurs="1">
                         <xsd:complexType>
                            <xsd:sequence>
                               <xsd:element name="Word" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
                            </xsd:sequence>
                         </xsd:complexType>
                      </xsd:element>
                   </xsd:sequence>
              </xsd:complexType>
           </xsd:element>
           
       </xsd:schema>
    </wsdl:types>

    <wsdl:message name="RequestMessage">
        <wsdl:part name="body" element="Request"/>
    </wsdl:message>

    <wsdl:message name="ReplyMessage">
        <wsdl:part name="body" element="Reply"/>
    </wsdl:message>

    <wsdl:portType name="RacePortType">
        <wsdl:operation name="RunRace">
           <wsdl:input message="race:RequestMessage"/>
           <wsdl:output message="race:ReplyMessage"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="RaceSoapBinding" type="race:RacePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="RunRace">
           <soap:operation soapAction="http://attempto.ifi.uzh.ch/race/Process"/>
           <wsdl:input>
               <soap:body use="literal"/>
           </wsdl:input>
           <wsdl:output>
               <soap:body use="literal"/>
           </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="RaceService">
        <wsdl:port name="RacePort" binding="race:RaceSoapBinding">
           <soap:address location="http://attempto.ifi.uzh.ch/ws/race/racews.perl"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
